<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.bit.mapper.BoardMapper">
    <select id="getLists" resultType="kr.bit.entity.Board">
        select *from bitboard order by idx desc
    </select>

    <insert id="boardInsert" parameterType="kr.bit.entity.Board">
        insert into bitboard(title,content,writer)
        values(#{title},#{content},#{writer})
    </insert>

    <delete id="boardDelete" parameterType="int">
        delete from bitboard where idx=#{idx}
    </delete>

    <update id="boardUpdate" parameterType="kr.bit.entity.Board">
        update bitboard set title=#{title}, content=#{content} where idx=#{idx}
    </update>

    <select id="boardContent" resultType="kr.bit.entity.Board">
        select *from bitboard where idx=#{idx}
    </select>
</mapper>




